USE [master]
GO
/****** Object:  Database [WP_Suwatjanee]    Script Date: 4/12/2561 2:28:31 ******/
CREATE DATABASE [WP_Suwatjanee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WP_Suwatjanee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WP_Suwatjanee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WP_Suwatjanee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WP_Suwatjanee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WP_Suwatjanee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WP_Suwatjanee]
GO
/****** Object:  Table [dbo].[Table_CommentsPost]    Script Date: 4/12/2561 2:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_CommentsPost](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[CommentsDetail] [varchar](50) NULL,
	[C_Image] [image] NULL,
	[C_date] [varchar](20) NULL,
	[C_UserName] [varchar](50) NULL,
	[C_Post] [int] NULL,
 CONSTRAINT [PK_Table_CommentsPost] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Guest]    Script Date: 4/12/2561 2:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Guest](
	[GuestBookID] [int] IDENTITY(1,1) NOT NULL,
	[G_Name] [varchar](50) NULL,
	[G_Comments] [varchar](max) NULL,
	[G_Date] [varchar](20) NULL,
 CONSTRAINT [PK_Table_Guest] PRIMARY KEY CLUSTERED 
(
	[GuestBookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_HitView]    Script Date: 4/12/2561 2:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_HitView](
	[Hit_ViewID] [int] IDENTITY(1,1) NOT NULL,
	[H_IPaddress] [varchar](50) NULL,
	[Hit_View] [int] NULL,
	[Hit_date] [date] NULL,
 CONSTRAINT [PK_Table_HitView] PRIMARY KEY CLUSTERED 
(
	[Hit_ViewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Post]    Script Date: 4/12/2561 2:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Post](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[P_Type] [int] NULL,
	[PostDetail] [varchar](max) NULL,
	[DatePost] [varchar](20) NULL,
	[P_UserName] [varchar](50) NULL,
	[P_Image] [image] NULL,
 CONSTRAINT [PK_Table_Post] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_TypePost]    Script Date: 4/12/2561 2:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_TypePost](
	[TypePostID] [int] IDENTITY(1,1) NOT NULL,
	[T_NameType] [varchar](50) NULL,
 CONSTRAINT [PK_Table_TypePost] PRIMARY KEY CLUSTERED 
(
	[TypePostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_User]    Script Date: 4/12/2561 2:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_User](
	[UserName] [varchar](50) NOT NULL,
	[PassWord] [varchar](50) NULL,
	[U_Name] [varchar](50) NULL,
	[U_LastName] [varchar](50) NULL,
	[U_Birthday] [varchar](10) NULL,
	[U_Email] [varchar](60) NULL,
	[U_Image] [image] NULL,
 CONSTRAINT [PK_Table_User] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Table_CommentsPost] ON 
GO
INSERT [dbo].[Table_CommentsPost] ([CommentID], [CommentsDetail], [C_Image], [C_date], [C_UserName], [C_Post]) VALUES (1, N'555', NULL, N'3/12/2561 23:43:30', N't', 3)
GO
INSERT [dbo].[Table_CommentsPost] ([CommentID], [CommentsDetail], [C_Image], [C_date], [C_UserName], [C_Post]) VALUES (2, N'41', NULL, N'3/12/2561 23:48:26', N't', 3)
GO
INSERT [dbo].[Table_CommentsPost] ([CommentID], [CommentsDetail], [C_Image], [C_date], [C_UserName], [C_Post]) VALUES (3, N'แ้ลวแต่เลย', NULL, N'3/12/2561 23:50:04', N't', 4)
GO
SET IDENTITY_INSERT [dbo].[Table_CommentsPost] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Guest] ON 
GO
INSERT [dbo].[Table_Guest] ([GuestBookID], [G_Name], [G_Comments], [G_Date]) VALUES (1, N'taesofree', N'ทดสอบ', N'2/12/2561 12:28:31')
GO
INSERT [dbo].[Table_Guest] ([GuestBookID], [G_Name], [G_Comments], [G_Date]) VALUES (2, N'taesofree', N'สวยครับสวย', N'1/12/2561 12:28:31')
GO
INSERT [dbo].[Table_Guest] ([GuestBookID], [G_Name], [G_Comments], [G_Date]) VALUES (3, N't', N'ทดสอบ', N'2/12/2561 20:37:21')
GO
SET IDENTITY_INSERT [dbo].[Table_Guest] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_HitView] ON 
GO
INSERT [dbo].[Table_HitView] ([Hit_ViewID], [H_IPaddress], [Hit_View], [Hit_date]) VALUES (1, N'10.103.3.77', 1, CAST(N'2018-12-02' AS Date))
GO
INSERT [dbo].[Table_HitView] ([Hit_ViewID], [H_IPaddress], [Hit_View], [Hit_date]) VALUES (2, N'10.103.3.77', 2, CAST(N'2018-12-03' AS Date))
GO
INSERT [dbo].[Table_HitView] ([Hit_ViewID], [H_IPaddress], [Hit_View], [Hit_date]) VALUES (8, N'10.103.3.72', 3, CAST(N'2018-12-04' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Table_HitView] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Post] ON 
GO
INSERT [dbo].[Table_Post] ([PostID], [P_Type], [PostDetail], [DatePost], [P_UserName], [P_Image]) VALUES (3, 1, N'5555', N'3/12/2561 22:55:18', N't', NULL)
GO
INSERT [dbo].[Table_Post] ([PostID], [P_Type], [PostDetail], [DatePost], [P_UserName], [P_Image]) VALUES (4, 1, N'เล่นเกมอะไรดี', N'3/12/2561 23:49:47', N't', NULL)
GO
INSERT [dbo].[Table_Post] ([PostID], [P_Type], [PostDetail], [DatePost], [P_UserName], [P_Image]) VALUES (5, 2, N'โดจินคืออะไรครับ', N'3/12/2561 23:51:27', N't', NULL)
GO
SET IDENTITY_INSERT [dbo].[Table_Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_TypePost] ON 
GO
INSERT [dbo].[Table_TypePost] ([TypePostID], [T_NameType]) VALUES (1, N'เกมส์')
GO
INSERT [dbo].[Table_TypePost] ([TypePostID], [T_NameType]) VALUES (2, N'การ์ตูน')
GO
INSERT [dbo].[Table_TypePost] ([TypePostID], [T_NameType]) VALUES (3, N'กีฬา')
GO
SET IDENTITY_INSERT [dbo].[Table_TypePost] OFF
GO
INSERT [dbo].[Table_User] ([UserName], [PassWord], [U_Name], [U_LastName], [U_Birthday], [U_Email], [U_Image]) VALUES (N'taesofree', N'1', N'Sorot', N'Jareonsinchai', N'2018-12-13', N'tae_sorot@Hotmail.com', NULL)
GO
ALTER TABLE [dbo].[Table_CommentsPost]  WITH CHECK ADD  CONSTRAINT [FK_Table_CommentsPost_Table_Post] FOREIGN KEY([C_Post])
REFERENCES [dbo].[Table_Post] ([PostID])
GO
ALTER TABLE [dbo].[Table_CommentsPost] CHECK CONSTRAINT [FK_Table_CommentsPost_Table_Post]
GO
ALTER TABLE [dbo].[Table_CommentsPost]  WITH CHECK ADD  CONSTRAINT [FK_Table_CommentsPost_Table_User] FOREIGN KEY([C_UserName])
REFERENCES [dbo].[Table_User] ([UserName])
GO
ALTER TABLE [dbo].[Table_CommentsPost] CHECK CONSTRAINT [FK_Table_CommentsPost_Table_User]
GO
ALTER TABLE [dbo].[Table_Post]  WITH CHECK ADD  CONSTRAINT [FK_Table_Post_Table_TypePost] FOREIGN KEY([P_Type])
REFERENCES [dbo].[Table_TypePost] ([TypePostID])
GO
ALTER TABLE [dbo].[Table_Post] CHECK CONSTRAINT [FK_Table_Post_Table_TypePost]
GO
ALTER TABLE [dbo].[Table_Post]  WITH CHECK ADD  CONSTRAINT [FK_Table_Post_Table_User] FOREIGN KEY([P_UserName])
REFERENCES [dbo].[Table_User] ([UserName])
GO
ALTER TABLE [dbo].[Table_Post] CHECK CONSTRAINT [FK_Table_Post_Table_User]
GO
USE [master]
GO
